.AddEmployeeForm {
  margin-top: auto;
  top: 50%;
  left: 50%;
}

.form-row {
  display: flex; 
  flex-wrap: wrap; 
  margin-bottom: 20px; 
}

.form-group {
  flex-basis: 50%; 
  padding-right: 10px; 
  box-sizing: border-box; 
}

.formButton {
  background: rgb(243, 104, 5);
  color: rgb(255, 255, 255);
  font-size: 16px;
  float: right;
  margin-top: 10px;
}
