.Icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.anticon {
    color: #F36805;
}

.employee-button {
    background: #f36805;
    color: #FFFFFF;
    font-size: 16px;
    margin-top: 60px;
}

.employeeButton {
    float: right;
    float: right;
}

.employess {
    padding-top: 38px;
    padding-left: 107px;
    margin-top: 72px;
    margin-left: 50px;
}