.Icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Icons {
  color: #f36805;
}

.anticon-delete {
  color: #f36805;
  margin-left: 20px;
}

.table-button {
  background: #f36805;
  color: #ffffff;
  font-size: 16px;
  margin-top: 60px;
}

.tableButton {
  float: right;
  margin-top: -4vh;
}

.Tables {
  padding-top: 38px;
  padding-left: 107px;
  margin-top: 72px;
  margin-left: 50px;
}

.serverTable {
  margin-left: 157px;
}
