.Profil {
  display: flex;
  align-items: center;
}
.NameRole {
  margin: 10px;
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.85);
}
.Name {
  font-size: 14px;
  font-weight: 700;
}
.Role {
  font-size: 14px;
  font-weight: 300;
}
