.Profil {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.NameRole {
  margin: 10px;
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.85);
}
.Name {
  font-size: 14px;
  font-weight: 700;
}
.Role {
  font-size: 14px;
  font-weight: 300;
}

.ant-dropdown-menu {
  background-color: #f36805 !important;
  color: white;
}

.logoutIcon {
  color: white;
}

.ant-dropdown-menu-item, a {
  color: white !important;
}


